.body{
    margin: 0;
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    transition: 0,6s;
}

.container1{
    margin: 5px;
    margin-top: 1.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 20px;
    transition: all 0.3s ease;
    transform: scale(1);
    gap: 25%

}

.logo{
    display: flex;
    align-items: center;
    font-size: 60px;
    margin-top: rem;
}
.logo:hover{
transform: scale(1.05);
cursor: pointer;
}
.search{
    display: flex;
    background-color: none;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.cityinput{
background-color: aliceblue;
width: 35rem;
height: 3rem;
border: 2px solid black ;
border-radius: 20px;
}
.cityinput:hover{
    transform: scale(1.05);
}
@media  (max-width: 767px) {
 .cityinput{
    width: 200px;
 }
}

.btn{
background-color: aliceblue;
width: 8rem;
height: 3rem;
border: 2px solid black;
border-radius: 20px;
}
.btn:hover{
        transform: scale(1.05);
cursor: pointer;
}