body {
    font-family: 'Franklin Gothic Medium', 'Arial narrow', Arial, sans-serif;
    background-color: rgb(169, 187, 193);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.Search{
    margin-top: 0.5%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;

}
.CityInput{
    padding: 20px;
    width: 36rem;
    font-weight: narrow;
    border-radius: 30px;
    border: 5px rgb(0, 0, 0);
    font-size: 18px;
    background-color: aliceblue;
}

button{
    padding:20px;
    width: 8rem;
    border: 5px black;
    border-radius: 30px;
    font-size: 18px;
    background-color: aliceblue;
    cursor: pointer;   
}

button:hover{
    background-color: rgb(189, 189, 189);
}

.app{
    margin-top: 80px;
    position: relative;
    background-color: rgb(160, 183, 230);
    width: 75rem;
    height: 45rem;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;

}
.city{
    position: absolute;
    background-color: rgb(134, 141, 139);;
    font-size: 60px;
    height: fit-content;
    width: fit-content;
    margin: 0;
    left: 20rem;
    top: 13rem;
    display: block;
}


.temp{
    position: absolute;
    background-color: rgb(134, 141, 139);;
  position: absolute;
  display: flex;   
  gap: 32%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.pic{
    position: absolute;
    background: none;
    height: fit-content;
    width: fit-content;
    display:block;
    right: 7rem;
}

.infos {
  position: absolute;
  display: flex;   
  gap: 32%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  bottom: 40%;
    

}







